Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
gunicorn
dj-database-url
psycopg2-binary
whitenoise
django-heroku
requests
pdfplumber==0.11.0
pytesseract==0.3.10
